

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>slide</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script>
      $(document).ready(function(){
          $('#contentSlider').html('ok');
    	     $( "#slider" ).slider({
    				value : 0,//Значение, которое будет выставлено слайдеру при загрузке
    				min : 0,//Минимально возможное значение на ползунке
    				max : 1024,//Максимально возможное значение на ползунке
    				step : 1,//Шаг, с которым будет двигаться ползунок
    				create: function( event, ui ) {
    					val = $( "#slider" ).slider("value");//При создании слайдера, получаем его значение в перемен. val
    					$( "#contentSlider" ).html( val );//Заполняем этим значением элемент с id contentSlider
    				},
                slide: function( event, ui ) {
    				$( "#contentSlider" ).html( ui.value );//При изменении значения ползунка заполняем элемент с id contentSlider

                }
            });
    });
    </script>

<body>
  11
<span id="contentSlider"></span>
<div style="width:200px">
<div id="slider"></div>
</div>
11
</body>
</html>
