<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Colorpicker demo</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>

<canvas width="200" height="106" id="canvas_picker"></canvas>


<script type="text/javascript">
var canvas = document.getElementById('canvas_picker').getContext('2d');

// create an image object and get it’s source
var img = new Image();
img.src = '../static/images/colorpicker.jpg';

// copy the image to the canvas
$(img).load(function(){
  canvas.drawImage(img,0,0);
});


$('#canvas_picker').click(function(event){
  // getting user coordinates
  var x = event.pageX - this.offsetLeft;
  var y = event.pageY - this.offsetTop;
  // getting image data and RGB values
  var img_data = canvas.getImageData(x, y, 1, 1).data;
  var R = img_data[0];
  var G = img_data[1];
  var B = img_data[2];
  var rgb = R + ',' + G + ',' + B;
  // convert RGB to HEX
  // making the color the value of the input
  $("#rgb").html(rgb);
  document.getElementById('color_box').style.background = "rgb(" + R + "," + G + "," + B + ")";
  //$('#hex input').val('#' + hex);
});
</script>
<span id="rgb">RGB:</span>
<div id = "color_box" style = "background: rgb(255,0,0);; width: 200px; height: 50px;">

</div>
</body>
</html>
